<footer>
    <div class="container">
        <div class="is-pulled-left">
            &copy; 2019 Developers For Future
            <span class="contact-icons">
                <a href="https://twitter.com/devsforfuture" target="_blank"><span class="icon"><i class="fab fa-twitter"></i></span></a>
                <a href="https://gitlab.com/developersforfuture" target="_blank"><span class="icon"><i class="fab fa-gitlab"></i></span></a>
                <a href="mailto:info@developersforfuture.org" target="_blank" title="Info Mail"><span class="icon"><i class="fas fa-envelope"></i></span></a>
                <a href="mailto:support@developersforfuture.org" target="_blank" title="Support Mail"><span class="icon"><i class="fas fa-envelope-open"></i></span></a>
            </span>
        </div>
        <div class="is-pulled-right legal-links">
            {% for item in sulu_navigation_root_tree('main') %}
                {% set item_path=sulu_content_path(item.url) %}
                <a href="{{ item_path }}" title="{{ item.title }}">{{ item.title }}</a>
            {% endfor %}
        </div>
    </div>
</footer>

