<!-- Footer -->
<footer
	class="footer section">
	<!-- Footer Top -->
	<div class="footer-top overlay">
		<div class="container">
			<div class="row">
				<div
					class="col-lg-4 col-md-6 col-12">
					<!-- About -->
					<div class="single-widget about">
						<h2>{{ 'communication'|trans }}</h2>
						<ul class="list">
							<li>
								<i class="fa fa-envelope"></i>Email:
								<a href="mailto:info@developersforfuture.org" target="_blank" title="Mail">
                                    info@developersforfuture.org
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-envelope-open"></i>Support:
								<a href="mailto:support@developersforfuture.org" target="_blank" title="Support Mail">
                                    support@developersforfuture.org
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-gitlab"></i>Gitlab:
								<a href="https://gitlab.com/developersforfuture" target="_blank">
									gitlab.com/developersforfuture
								</a>
                            </li>
							<li>
                                <i class="fa fa-telegram"></i>Messenger:
								<a href="https://t.me/joinchat/P4kzklPTX1IvyKPAOCYQhw" target="_blank">
									Telegram
								</a>
							</li>
                            <li>
                                <i class="fa fa-comments"></i>Chat:
								<a href="https://mattermost.developersforfuture.org/signup_user_complete/?id=40da52c168fd6333bbfa4923ffe11a33" target="_blank">
									Mattermost
								</a>
							</li>
                            <!--
							<li>
								<i class="fa fa-map-o"></i>Address: 123, Jolfikar state, Us</li>
                            -->
						</ul>
						<!-- Social -->
						<ul class="social">
							<li>
								<a href="https://twitter.com/devsforfuture" target="_blank">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com/groups/667085723769831/" target="_blank">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
                            <!--
							<li>
								<a href="#">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-youtube"></i>
								</a>
							</li>
                            -->
						</ul>
						<!-- End Social -->
					</div>
					<!--/ End About -->
				</div>
				<div
					class="col-lg-4 col-md-6 col-12">
					<!-- Useful Links -->
					<div class="single-widget list">
						<h2>Useful Links</h2>
						<ul>
							{% for item in sulu_navigation_root_tree('footer') %}
								{% set item_path=sulu_content_path(item.url) %}
								<li>
									<i class="fa fa-angle-right"></i>
									<a href="{{ item_path }}" title="{{ item.title }}">{{ item.title }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
					<!--/ End Useful Links -->
				</div>
				<div
					class="col-lg-4 col-md-6 col-12">
					<!-- Useful Links -->
                    <!--
					<div class="single-widget opening-times">
						<h2>Opening Hourse</h2>
						<ul class="list">
							<li>
								<span>Saturday - Sunday</span>
								<div class="value">09am - 05pm</div>
							</li>
							<li>
								<span>Monday - Twisday</span>
								<div class="value">10AM - 02PM</div>
							</li>
							<li>
								<span>Widnesday</span>
								<div class="value">10AM - 12PM</div>
							</li>
							<li>
								<span>Thursday</span>
								<div class="value">08AM - 05PM</div>
							</li>
							<li>
								<span>Friday</span>
								<div class="value off">closed</div>
							</li>
						</ul>
					</div>
                    -->
					<!--/ End Useful Links -->
				</div>
			</div>
		</div>
	</div>
	<!--/ End Footer Top -->
	<!-- Footer Bottom -->
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div
					class="col-12">
					<!-- Copyright -->
					<div class="copyright">
						<p>© Copyright DevelopersForFuture by
							<a href="http://themelamp.com">www.themelamp.com</a>, Theme Release By
							<a href="http://codeglim.com">www.codeglim.com</a>
						</p>
					</div>
					<!--/ End Copyright -->
				</div>
			</div>
		</div>
	</div>
	<!--/ End Footer Bottom -->
</footer>
<!--/ End Footer -->
