<footer class="bg-medium-green">
    <div class="container">
        <nav>
            <div class="columns">
                <div class="column is-12 is-offset-2">
                    <ul>
                        <li>Contact:</li>
                        <li>
                            <a href="https://twitter.com/DevsForFuture">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:info@developersforfuture@gmx.net">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                        <li>|</li>
                        <li><a href="{{ url('/cms/routes/organisation') }}">Organisation</a></li>
                        <li>|</li>
                        <li><a href="{{ url('/cms/routes/impressum') }}">Impressum</a></li>
                        <li>|</li>
                        <li><a href="{{ url('/cms/routes/data-policy') }}">Data Policy</a></li>
                    </ul>
                </div>
        </nav>
    </div>
</footer>

