<header>
    <nav class="navbar is-fixed-top not-scrolled">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url('/cms/routes/home') }}">
                <div class="logo"></div>
                <div class="logo-title">Developers for Future</div>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{{ url('/cms/routes/blog') }}">Articles</a>
                <a class="navbar-item" href="{{ url('/cms/routes/organisation') }}">Organisation</a>
                <a class="navbar-item" href="{{ url('/cms/routes/docs') }}">Docs</a>
                <div class="navbar-item">
                    <a class="button view-source-button" href="https://github.com/DevelopersForFuture/website" target="_blank">View Source on GitHub</a>
                </div>
            </div>
        </div>
    </nav>
</header>