<header>
    <nav class="navbar is-fixed-top not-scrolled">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url('/cms/routes/home') }}">
                <div class="logo"></div>
                <div class="logo-title">Developers for Future</div>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                {% for item in sulu_navigation_root_tree('main') %}
                    {% set item_path=sulu_content_path(item.url) %}
                    <a class="navbar-item" href="{{ item_path }}" title="{{ item.title }}">{{ item.title }}</a>
                {% endfor %}
                <div class="navbar-item">
                    <a class="button view-source-button" href="https://gitlab.com/DevelopersForFuture" target="_blank">View Source on GitLab</a>
                </div>
            </div>
        </div>
    </nav>
</header>