<!-- Header -->
<header class="header">
	<!-- Header Inner -->
	<div class="header-inner overlay">
		<div class="container">
			<div class="row">
				<div
					class="col-lg-3 col-md-3 col-12">
					<!-- Logo -->
					<div class="logo">
						<a href="/"><img src="/website/images/logo_40x40.png" alt="{{ 'hompage'|trans }}"></a>
					</div>
					<!--/ End Logo -->
					<div class="mobile-menu"></div>
				</div>
				<div class="col-lg-9 col-md-9 col-12">
					<div class="menu-bar">
						<nav class="navbar navbar-default">
							<div
								class="navbar-collapse">
								<!-- Main Menu -->
								<ul id="nav" class="nav menu navbar-nav">
                                    {% set current_path=app.request.uri %}
                                    {% for item in sulu_navigation_root_tree('main') %}
                                        {% set item_path=sulu_content_path(item.url) %}                                        
                                        <li {% if item_path == current_path %}class="active"{% endif %}>
                                            <a href="{{ item_path }}" title="{{ item.title }}">
                                                <!--<i class="fa fa-address-book"></i>-->{{ item.title }}</a>
                                                <!--
                                                    <ul class="dropdown">
                                                        <li>
                                                            <a href="teachers.html">Teachers</a>
                                                        </li>
                                                    </ul>
                                                -->
                                        </li>
                                    {% endfor %}
								</ul>
								<!-- End Main Menu -->
							</div>
						</nav>
						<!-- Search Area -->
                        <!---
						<div class="search-area">
							<a href="#header" class="icon">
								<i class="fa fa-search"></i>
							</a>
							<form class="/search">
								<input type="text" placeholder="ex: premium course" name="search">
								<button value="search " type="submit">
									<i class="fa fa-search"></i>
								</button>
							</form>
						</div>
                        -->
						<!-- End Search Area-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Header Inner -->
</header>
<!--/ End Header -->
