<section id="event-section">
    <div class="section-title">EVENTS</div>
    <a href="https://commerce.codetalks.de/speakers#talk-522?event=2" class="section-line" target="_blank">
        <div class="section-line-content">
            <div class="event-title">Code kills planet earth</div>
            <div class="event-author">Jan Henne</div>
            <div class="event-dates">2019-04-05 | 14:00 CET | Code Talks eCommerce (Berlin)</div>
        </div>
    </a>
    <a href="https://phpconference.com/programm/" class="section-line" target="_blank">
        <div class="section-line-content">
            <div class="event-title">What does it actually cost - an ecological price tag for software development?</div>
            <div class="event-author">Maximilian Berghoff</div>
            <div class="event-dates">2019-06-05 | 11:45 CET | Internationale PHP Conference (Berlin)</div>
        </div>
    </a>
</section>
