<section class="event-section">
    <div class="card main-event-section-card">
        <header class="card-header">
            <h6 class="card-header-title">
                Events
            </h6>
        </header>
        <div class="card-content">
            <div class="card event-card" onclick="window.location.href='https://commerce.codetalks.de/speakers#talk-522?event=2'">
                <header class="card-header">
                    <p class="card-header-title">
                        Code kills planet earth
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <strong>Jan Henne</strong>
                        <br>
                        <span>2019-04-05 | 14:00 CET | Code Talks eCommerce (Berlin)</span>
                    </div>
                </div>
            </div>
            <div class="card event-card" onclick="window.location.href='https://phpconference.com/agile-culture/what-does-it-actually-cost-an-ecological-price-tag-for-software-development/'">
                <header class="card-header">
                    <p class="card-header-title">
                        What does it actually cost - an ecological price tag for software development?
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <strong>Maximilian Berghoff</strong>
                        <br>
                        <span>2019-06-05 | 11:45 CET | International PHP Conference (Berlin)</span>
                    </div>
                </div>
            </div>
            <div class="card event-card" onclick="window.location.href='https://www.meetup.com/Rooftop-Brains-BBQ-Munich/events/261289322/'">
                <header class="card-header">
                    <p class="card-header-title">
                        Development is for Future
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <strong>Maximilian Berghoff</strong>
                        <br>
                        <span>2019-05-23 | 18:00 CET | Rooftop Brains&BBQ (Munich)</span>
                    </div>
                </div>
            </div>
            <div class="card event-card" onclick="window.location.href='https://www.daho.am/'">
                <header class="card-header">
                    <p class="card-header-title">
                        Development is for Future
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <strong>Maximilian Berghoff</strong>
                        <br>
                        <span>2019-05-28 | Daho.am (Munich)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
