<div class="container">
    <div class="columns">
        <div class="column is-8">
            <div class="has-text-centered">
                <h2 class="has-text-weight-light">About</h2>
            </div>

            <div class="columns">
                <div class="column is-12 aboutBlock card-only-content">
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    In many countries around the globe, students have been gathering on Fridays to
                                    demonstrate for a future worth living. We as developers want to support this
                                    movement.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <div class="columns">
                <div class="column is-4 aboutBlock card-text-without-footer">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title">
                                Pure Support
                            </p>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    Without influencing the kids in their work, we can help them create the software
                                    they need to network, communicate, and document their work.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-4 aboutBlock card-text-without-footer">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title">
                                Education
                            </p>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    Striking during school doesn't mean that the kids neglect their education here. We
                                    can take the kids much closer to
                                    the real world of software development with small workshops, hacking sessions or
                                    even simple code reviews than school would ever be able to.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-4 aboutBlock card-text-without-footer">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title">
                                Own Goal
                            </p>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    Joining the movement also means thinking about one's own footprint in climate
                                    change.
                                    As developers it has become a matter of course that we have many computers running,
                                    for example that a CI pipeline takes over every small task for us. But what does
                                    that cost in terms of electricity?
                                    Therefore it will also be our task to question our own process and to provide new
                                    solutions if necessary.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
        <div class="column is-4">
            <section class="event-section">
                <div class="card main-event-section-card">
                    <header class="card-header">
                        <h6 class="card-header-title">
                            Events
                        </h6>
                    </header>
                    <div class="card-content">
                        <div class="card event-card"
                            onclick="window.location.href='https://phpconference.com/agile-culture/what-does-it-actually-cost-an-ecological-price-tag-for-software-development/'">
                            <header class="card-header">
                                <p class="card-header-title">
                                    What does it actually cost - an ecological price tag for software development?
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <strong>Maximilian Berghoff</strong>
                                    <br>
                                    <span>2019-06-05 | 11:45 CET | International PHP Conference (Berlin)</span>
                                </div>
                            </div>
                        </div>
                        <div class="card event-card" onclick="window.location.href='https://www.daho.am/'">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Development is for Future
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <strong>Maximilian Berghoff</strong>
                                    <br>
                                    <span>2019-05-28 | Daho.am (Munich)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>