@import "~bulma";

// Set your brand colors
$dark-green: #1B7340;
$medium-green: #1DA64A;
$light-green: #E1F2E7;
$white-green: #F4F9F6;
$black: #000000;
$light-blue: #90D3ED;
$gray: #565656;
$light-gray: #EFEFEF;
$light-beige: #FFFFFF;

// Update Bulma's global variables
$family-sans-serif: Merriweather Sans, Lato, Cantarell, sans-serif;
$grey-dark: $black;
$grey-light: $light-gray;
$primary: $dark-green;
$link: $light-blue;

$tablet-enabled: true;
$widescreen-enabled: true;
$fullhd-enabled: true;

$family-primary: Merriweather Sans, Lato, Cantarell, sans-serif;

// Update some of Bulma's component variables
$body-background-color: $light-beige;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

.bg-light-green {
  background-color: $light-green;
}

.bg-white-green {
  background-color: $white-green;
}

.bg-dark-green {
  background-color: $dark-green;
}

.bg-medium-green {
  background-color: $medium-green;
}

.bg-light-gray {
  background-color: $light-gray;
}


.bg-light-beige {
  background-color: $light-beige;
}

.bg-light-blue {
  background-color: $light-blue;
}

.bg-light-blue {
  background-color: $light-blue;
}

.font-light {
  color: $light-gray !important;
}

:root {
  font-family: Merriweather Sans, Lato, Cantarell, sans-serif;
  font-size: 14px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  min-height: 100vh;
  margin: 0;
}


p {
  margin: 20px;
}

h1, h2, h3 {
  font-family: "Jost Semi", Lato, Cantarell, sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 26px;
  text-align: center;
  margin: 40px 20px 20px 20px;
}

h2 {
  font-size: 20px;
  text-align: center;
  margin: 30px 20px 20px 20px;
}

h3 {
  font-size: 18px;
  text-align: center;
  margin: 30px 20px 20px 20px;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button,
.button {
  height: 40px;
  font-size: inherit;
  font-family: inherit;
  padding: 0 16px;
  color: #000000;
  border: 0;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

button:hover,
.button:hover {
  color: $light-beige;
}

a {
  text-decoration: none;
  color: $medium-green;
}

a:hover {
  color: $light-blue;
}

img {
  max-width: calc(100% - 40px);
  border-radius: 5px;
  margin: 20px;
  display: flex;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}


.transparent {
  background-color: transparent;
  border-radius: 0;
}


header {
  width: 100%;
  height: 60px;
  font-size: 16px;
  color: $light-beige;
  box-shadow: 0 -15px 10px 10px black;
  z-index: 6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}

footer {
  width: 100%;
  height: 100px;
  font-size: 16px;
  color: $light-beige;
  z-index: 6;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
}

#header-logo-space {
  color: $light-beige;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#header-logo {
  width: 40px;
  height: 40px;
  background-image: url(developers-for-future-logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}

#header-logo-title {
  margin-left: 16px;
}

nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav ul {
  height: 100%;
  padding: 0 6px 0 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

nav ul li {
  height: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

nav ul li a {
  height: 100%;
  color: $light-beige;
  padding: 0 16px 0 16px;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

nav ul li a::after {
  content: "";
  width: calc(100% - 32px);
  height: 0;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  border-radius: 1px 1px 0 0;
  transition-property: height, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

nav ul li a:hover {
  color: $light-beige;
}

nav ul li:hover a::after {
  height: 4px;
  background-color: $dark-green;
}

nav ul li.active a::after {
  height: 4px;
  background-color: $light-beige;
}

.view-source-button {
  color: $light-beige;
  background-color: transparent;
  border: 2px solid $light-beige;
}

.view-source-button:hover {
  color: #000000;
  background-color: $light-blue;
  border: 2px solid transparent;
}


main {
  height: auto;
  padding: 0 10px 60px 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 60px;
  margin-top: 10px;
}

content {
  width: calc(100% - 320px);
  max-width: 1200px;
  padding: 10px;
  border-radius: 5px;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-top: 10px;
  .column {
    margin-top: 10px;
  }
}

aside {
  width: 320px;
  height: 100%;
  padding: 10px;
  flex-shrink: 0;
  box-sizing: border-box;
}

content section,
aside section {
  width: 100%;
  padding: 0;
  background-color: $light-beige;
  border-radius: 5px;
  margin: 10px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.section-title {
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  padding: 6px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.section-line {
  width: 100%;
  text-decoration: none;
  color: #000000;
  border-top: 1px solid $light-gray;
  margin: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.section-line:hover {
  color: inherit;
  background-color: $white-green;
}

.section-line-content {
  padding: 10px 16px;
}

.event-title, .event-author {
  font-weight: 800;
}
.event-author {
  font-weight: 600;
  font-size: smaller;
}
.section-line:hover .event-title, .section-line:hover .event-author {
  color: $dark-green;
}

.event-section-end-button {
  width: 100%;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark-green;
  padding: 6px 0;
  border-top: 1px solid $light-gray;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.event-section-end-button:hover {
  color: $dark-green;
  background-color: $white-green;
}


/* blog */

#blog-overview {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: no-scroll;
}

#blog-overview-contain {
  width: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: no-scroll;
  transition-property: margin-left;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.blog-article-box {
  width: 320px;
  min-width: 320px;
  max-width: calc(100% * 0.6);
  height: 100%;
  background-color: $light-beige;
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.blog-article-box:not(:first-child) {
  margin-left: 10px;
}

.blog-article-box-header {
  width: 100%;
  text-align: center;
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $light-gray;
  box-sizing: border-box;
}

.blog-article-box-title {
  font-weight: 800;
  font-family: Jost Semi, Lato, Cantarell, sans-serif;
  text-transform: uppercase;
}

.blog-article-box-author::before {
  content: "by";
  margin: 0 6px 0 0;
}

.blog-article-box-date {
  color: $grey;
}

.blog-article-box-body {
  width: 100%;
}

.blog-article-box-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $light-gray;
}


#later-articles-button,
#earlier-articles-button {
  height: 40px;
  color: $dark-green;
  background-color: $light-beige;
  padding: 0 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.6);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition-delay: 0.6s;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

#later-articles-button-gradient {
  width: 100px;
  height: 100%;
  background-image: linear-gradient(to right, $light-gray 0%, transparent 100%);
  position: absolute;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition-property: width, opacity;
  transition-delay: 0.6s;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

#later-articles-button {
  transition-property: margin-left;
}

#earlier-articles-button-gradient {
  width: 100px;
  height: 100%;
  background-image: linear-gradient(to right, transparent 0%, $light-gray 100%);
  position: absolute;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  transition-property: width, opacity;
  transition-delay: 0.6s;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

#earlier-articles-button {
  transition-property: margin-right;
}

#later-articles-button:hover,
#earlier-articles-button:hover {
  background-color: $light-green;
}


#blog-article-expand-area.inactive {
  height: 0;
  padding: 0 16px;
  margin-top: 0;
  opacity: 0;
}

#blog-article-expand-area {
  width: 100%;
  background-color: $light-beige;
  border-radius: 5px;
  margin-top: 10px;
  opacity: 1;
  box-sizing: border-box;
  transition-property: height, padding, margin-top, opacity;
  transition-delay: 0s, 0s, 0s, 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

#blog-article-expand-header {
  width: 100%;
  padding: 10px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid $light-gray;
  box-sizing: border-box;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

#blog-article-expand-title {
  font-weight: 800;
  font-family: Jost Semi, Lato, Cantarell, sans-serif;
  text-transform: uppercase;
}

#blog-article-expand-author {
  margin-left: 10px;
}

#blog-article-expand-author::before {
  content: "by";
  margin-right: 6px;
}

#blog-article-expand-date {
  color: $grey;
  margin-left: 10px;
  display: flex;
  flex-direction: center;
}

#blog-article-expand-date::before {
  content: "";
  border-left: 1px solid $light-gray;
  margin-right: 10px;
}

#blog-article-expand-body {
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

/* blog END */
