{% if imageUrl is defined and imageUrl %}
	<a href="{{ imageUrl }}" {% if imageTitle %} title="{{ imageTitle }}" {% endif %} target="_blank">
	{% endif %}
	{% if imageSrc %}
		<img src="{{ imageSrc }}" {% if imageTitle %} alt="{{ imageTitle }}" title="{{ imageTitle }}" {% endif %}/>
	{% endif %}
	{% if imageUrl is defined and imageUrl %}
	</a>
{% endif %}
