{% set size = size|default(5) %}
{% if url is defined and url %}
	<a href="{{ url }}" {% if title %} title="{{ title }}" {% endif %} target="_blank">
{% endif %}
	<h{{size}}>{{title}}</h{{size}}>
{% if url is defined and url %}
    </a>
{% endif %}
