{% extends 'layout.html.twig' %}

{% block content %}
    <section class="transparent">
        <div id="blog-overview">
            <div id="blog-overview-contain" style="margin-left:0;">

                {% for article in articles %}
                <div class="blog-article-box bg-light-beige" onclick="window.location.href = '{{ url(article) }}';">
                    <div class="blog-article-box-header">
                        <div class="blog-article-box-title">{{ article.title }}</div>
                        <!--
                        <div class="blog-article-box-author"><a href="https://twitter.com/ElectricMaxxx" target="_blank">Maximilian Berghoff</a></div>
                        <div class="blog-article-box-date">Saturday, 23th March</div>
                        -->
                    </div>
                    <div class="blog-article-box-body"><p style="text-align:center;">{{ article.description }}</p></div>
                    <div class="blog-article-box-footer"><div class="button bg-light-blue">read on</div></div>
                </div>
                {% endfor %}
            <div id="later-articles-button-gradient" style="width:0; opacity:0;"><div id="later-articles-button" style="margin-left:-20px;" onclick="scrollToLaterBlogArticles()">later</div></div>
            <div id="earlier-articles-button-gradient" style="width:0; opacity:0;"><div id="earlier-articles-button" style="margin-right:-20px;" onclick="scrollToEarlierBlogArticles()">earlier</div></div>
        </div>
        <div id="blog-article-expand-area" class="inactive">
            <div id="blog-article-expand-header">
                <div id="blog-article-expand-title"></div><div id="blog-article-expand-author"></div><div id="blog-article-expand-date"></div>
            </div>
            <div id="blog-article-expand-body"></div>
        </div>
    </section>
{% endblock %}
