{% extends 'base.html.twig' %}

{% block content %}
    <div class="columns">
        <div class="column is-12 bg-light-beige">
            <div class="card-image has-text-centered">
            </div>
            <table>
                <thead>
                <tr>
                    <th>Title/Link</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for doc in docs %}
                    <tr>
                        <td>
                            <a href="{{ doc.link|raw }}" target="_blank">{{ doc.title }}</a>
                        </td>
                        <td>{{ doc.description }}<br /><b>Categories:</b>&nbsp;{% for cat in doc.categories %}{{ cat }}&nbsp;{% endfor %}</p></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
