{% extends 'base.html.twig' %}

{% block content_title %}{% endblock %}

{% block main %}
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-12">
					{% include 'includes/blocks/card_block.html.twig' with {block: {title: content.title, body: content.article }} %}
				</div>
			</div>
		</div>
    </section>
{% endblock %}
