{% extends 'base.html.twig' %}

{% block main %}
	<section class="default section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-12">
					<div class="section-title bg">
						<h2>
							<span>{{ content.title }}</span>
						</h2>
					</div>
				</div>
			</div>
			<div class="row sources">
				{{ content.article|raw }}
				{% if content.links is defined %}
					{% for link in content.links %}
						{% if link.type == 'source_link' %}
							{% include 'includes/blocks/source_link.html.twig' with {'title': link.title, 'link': link.link, 'description': link.description, 'tags': link.tags} %}
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}
