{% extends 'base.html.twig' %}

{% block main %}
		<!-- Faqs -->
		<section class="faqs section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3 col-12">
						<div class="section-title bg">
							<h2 id="faq">{{ content.title_a}} <span>{{ content.title_b}}</span></h2>
							{{ content.intro|raw }}
							<div class="icon">
								<i class="fa fa-question"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5 col-12">
						<div class="faq-image">
							{% if content.image is defined and content.image %}
								<img src="{{ content.image.thumbnails['300x200'] }}" alt="#" title="FAQs">
							{% endif %}
						</div>
					</div>
					<div class="col-lg-7 col-12">
						<div class="faq-main">
							<div class="faq-content">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									{% for number,faq in content.blocks %}
										{% include 'includes/blocks/faq_block.html.twig' with {block: faq, number: number} %}
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Faqs -->
{% endblock %}
