{% extends "layout.html.twig" %}

{% block content %}

<section class="container">
    <div class="columns features">
        <div class="column is-12 bg-beige-light">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <i class="fa fa-note"></i>
                </div>
                <div class="card-content">
                    <div class="content">
                        <p>
                            In many countries around the globe, students have been gathering on Fridays
                            to demonstrate for a future worth living. We as developers want to support this movement.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns features">
        <div class="column is-4 bg-beige-light">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <i class="fa fa-hand-o-left"></i>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h2>Pure Support</h2>
                        <p>
                            Without influencing the kids in their work, we can help them create the software they need to network, communicate, and document their work.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4 bg-beige-light">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <i class="fa fa-book"></i>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h2>Education</h2>
                        <p>
                            Striking during school doesn't mean that the kids neglect their education here. We can take the kids much closer to
                            the real world of software development with small workshops, hacking sessions or even simple code reviews than school would ever be able to.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4 bg-beige-light">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h2>Own Goals</h2>
                        <p>
                            Joining the movement also means thinking about one's own footprint in climate change.
                            As developers it has become a matter of course that we have many computers running,
                            for example that a CI pipeline takes over every small task for us. But what does that cost in terms of electricity?
                            Therefore it will also be our task to question our own process and to provide new solutions if necessary.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
