{% extends 'base.html.twig' %}
{% block header %}
    <div class="enable-header-scroll_effect">
        {% include 'includes/header.html.twig' %}
    </div>
{% endblock %}
{% block main %}
    <div class="page-home">
        {{ content.article|raw }}
    </div>
{% endblock %}
