{% extends 'base.html.twig' %}

{% block slider %}
	{% if content.slider %}
		<!-- Slider Area -->
		<section class="home-slider">
			<div
				class="slider-active">
				<!-- Single Slider -->
				{% for slider in content.slider %}
					<div class="single-slider overlay">
						{% if slider.image %}
							<div class="slider-image" style="background-image:url('{{ slider.image.thumbnails['slider'] }}')"></div>
						{% endif %}
						<div class="container">
							<div class="row">
								<div
									class="col-lg-7 col-md-10 col-12">
									<!-- Slider Content -->
									<div class="slider-content">
										<h1 class="slider-title">
											<span>{{ slider.title_a }}</span>
											{{ slider.title_b }}
											<b>{{ slider.title_c }}</b>
										</h1>
										<p class="slider-text">{{ slider.text }}</p>
										<!-- Button -->
										<div class="button">
											{% if slider.button_a_url %}
												<a href="{{ slider.button_a_url }}" class="btn white">{{ slider.button_a_label }}</a>
											{% endif %}
											{% if slider.button_b_url %}
												{% set target = sulu_content_load(slider.button_b_url) %}
												<a href="{{ sulu_content_path(target.path) }}" class="btn white primary">{{ target.content.title }}</a>
											{% endif %}
										</div>
										<!--/ End Button -->
									</div>
									<!--/ End Slider Content -->
								</div>
							</div>
						</div>
					</div>
					<!--/ End Single Slider -->
				{% endfor %}
			</div>
		</section>
		<!--/ End Slider Area -->
	{% endif %}
{% endblock %}

{% block main %}
	<!-- Articles -->
	<section class="courses section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-12">
					<div class="section-title bg">
						<h2>
							<span>{{ content.articles_title }}</span>
						</h2>
						{{ content.articles_text|raw }}
						<div class="icon">
							{% if content.articles_url %}
								<a href="{{ content.articles_url }}">
									<i class="fa fa-angle-right"></i>&nbsp;{% trans %}more{% endtrans %}
								</a>
							{% else %}
								<i class="fa fa-angle-right"></i>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				{% for article in content.articles %}
					{% include 'includes/blocks/article_block.html.twig' with {block: article} %}
				{% endfor %}
			</div>
		</div>
	</section>
	<!--/ End Articles -->

	<!-- About the pillars -->
	<div class="features overlay section" data-stellar-background-ratio="0.5" {% if content.about_bg_image is defined and content.about_bg_image %} style="background-image: url('{{ content.about_bg_image.thumbnails['slider'] }}');" {% endif %}>
		<div class="container">
			<div class="row">
				{% for pillar in content.pillars %}
					{% include 'includes/blocks/pillar_block.html.twig' with {block: pillar} %}
				{% endfor %}
			</div>
		</div>
	</div>
	<!--/ End About -->

	<!-- Projects -->
	<section class="courses section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-12">
					<div class="section-title bg">
						<h2 id="projects">
							<span>{{ content.projects_title }}</span>
						</h2>
						{{ content.projects_text|raw }}
						<div class="icon">
							{% if content.projects_url %}
								<a href="{{ content.projects_url }}">
									<i class="fa fa-angle-right"></i>&nbsp;{% trans %}more{% endtrans %}
								</a>
							{% else %}
								<i class="fa fa-angle-right"></i>
							{% endif %}
						</div>
					</div>
				</div>
				{% for article in content.projects %}
					{% include 'includes/blocks/article_block.html.twig' with {block: article} %}
				{% endfor %}
			</div>
		</div>
	</section>
	<!--/ End Projects -->

{% endblock %}
