{% extends 'base.html.twig' %}

{% block main %}
	<section class="press section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-12">
					<div class="section-title bg">
						<h2>
							<span>{{ content.title }}</span>
						</h2>
					</div>
				</div>
			</div>
			<div class="row">
				{% if content.blocks %}
					{% for block in content.blocks %}
						{% include "includes/blocks/" ~ block.type ~ ".html.twig" %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
    </section>
{% endblock %}
