{% extends 'base.html.twig' %}

{% block main %}
	<section class="courses section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-12">
					<div class="section-title bg">
						<h2>
							<span>{{ content.title }}</span>
						</h2>
						{{ content.intro|raw }}
					</div>
				</div>
			</div>
			<div class="row">
				{% for article in content.articles %}
					{% include 'includes/blocks/article_block.html.twig' with {block: article} %}
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
