{% extends 'base.html.twig' %}

{% block main %}
	<section class="project section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-12">
					<div class="section-title bg">
						<h2>
							<span>{{ content.title }}</span>
						</h2>
					</div>
				</div>
			</div>
			{% if content.header_image %}
				<div class="row">
					<div class="col-lg-6 offset-lg-3 col-12">
						<div class="header-image">
							<img src="{{ content.header_image.thumbnails['800x400'] }}" alt="{{ content.header_image.name }}"/>
							<p>{{ content.header_image.title }}</p>
						</div>
					</div>
				</div>
			{% endif %}
			{% if content.article %}
				<div class="row">
					<div class="col-lg-6 offset-lg-3 col-12">
						{{ content.article|raw }}
					</div>
				</div>
			{% endif %}
			{% if content.blocks %}
				<div class="row blocks">
					{% for block in content.blocks %}
						{% include "includes/blocks/" ~ block.type ~ ".html.twig" %}
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</section>
{% endblock %}
