<!DOCTYPE html>
<html class="no-js">
	<head>
		{% include 'includes/seo.html.twig' %}
		<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
		<link rel="manifest" href="/favicons/manifest.json">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block styles %}
			<!-- Web Font -->
			<link
			href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

			<!-- Bootstrap CSS -->
			<link
			rel="stylesheet" href="/website/css/bootstrap.min.css">
			<!-- Font Awesome CSS -->
			<link
			rel="stylesheet" href="/website/css/font-awesome.min.css">
			<!-- Nice Select CSS -->
			<link
			rel="stylesheet" href="/website/css/niceselect.css">
			<!-- Fancy Box CSS -->
			<link
			rel="stylesheet" href="/website/css/jquery.fancybox.min.css">
			<!-- Fancy Box CSS -->
			<link
			rel="stylesheet" href="/website/css/cube-portfolio.min.css">
			<!-- Owl Carousel CSS -->
			<link
			rel="stylesheet" href="/website/css/owl.carousel.min.css">
			<!-- Animate CSS -->
			<link
			rel="stylesheet" href="/website/css/animate.min.css">
			<!-- Slick Nav CSS -->
			<link
			rel="stylesheet" href="/website/css/slicknav.min.css">
			<!-- Magnific Popup -->
			<link
			rel="stylesheet" href="/website/css/magnific-popup.css">
			<!-- Eduland Stylesheet -->
			<link rel="stylesheet" href="/website/css/normalize.css">
			<link rel="stylesheet" href="/website/style.css">
			<link
			rel="stylesheet" href="/website/css/responsive.css">
			<!-- Eduland Colors -->
			<link rel="stylesheet" href="/website/css/colors/color1.css">
		{% endblock %}
		
		<!-- Matomo -->
		<script type="text/javascript">
			var _paq = window._paq || [];
/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function () {
var u = "//analytics.developersforfuture.org/";
_paq.push([
'setTrackerUrl',
u + 'matomo.php'
]);
_paq.push(['setSiteId', '7']);
var d = document,
g = d.createElement('script'),
s = d.getElementsByTagName('script')[0];
g.type = 'text/javascript';
g.async = true;
g.defer = true;
g.src = u + 'matomo.js';
s.parentNode.insertBefore(g, s);
})();
		</script>
		<!-- End Matomo Code -->
	</head>
	<body>
		{% block header %}
			{% include "includes/header.html.twig" %}
		{% endblock %}
		{% block slider %}{% endblock %}
		{% block content %}
			{% block main %}{% endblock %}
		{% endblock %}
		{% include "includes/footer.html.twig" %}
		{% block javascripts %}
			<!-- Jquery JS-->
			<script src="/website/js/jquery.min.js"></script>
			<script src="/website/js/jquery-migrate.min.js"></script>
			<!-- Colors JS-->
			<script src="/website/js/colors.js"></script>
			<!-- Popper JS-->
			<script src="/website/js/popper.min.js"></script>
			<!-- Bootstrap JS-->
			<script src="/website/js/bootstrap.min.js"></script>
			<!-- Owl Carousel JS-->
			<script src="/website/js/owl.carousel.min.js"></script>
			<!-- Jquery Steller JS -->
			<script src="/website/js/jquery.stellar.min.js"></script>
			<!-- Final Countdown JS -->
			<script src="/website/js/finalcountdown.min.js"></script>
			<!-- Fancy Box JS-->
			<script src="/website/js/facnybox.min.js"></script>
			<!-- Magnific Popup JS-->
			<script src="/website/js/jquery.magnific-popup.min.js"></script>
			<!-- Circle Progress JS -->
			<script src="/website/js/circle-progress.min.js"></script>
			<!-- Nice Select JS -->
			<script src="/website/js/niceselect.js"></script>
			<!-- Jquery Steller JS-->
			<script src="/website/js/jquery.stellar.min.js"></script>
			<!-- Jquery Steller JS-->
			<script src="/website/js/cube-portfolio.min.js"></script>
			<!-- Slick Nav JS-->
			<script src="/website/js/slicknav.min.js"></script>
			<!-- Easing JS-->
			<script src="/website/js/easing.min.js"></script>
			<!-- Waypoints JS-->
			<script src="/website/js/waypoints.min.js"></script>
			<!-- Counter Up JS -->
			<script src="/website/js/jquery.counterup.min.js"></script>
			<!-- Scroll Up JS-->
			<script src="/website/js/jquery.scrollUp.min.js"></script>
			<!-- Gmaps JS-->
			<script src="/website/js/gmaps.min.js"></script>
			<!-- Main JS-->
			<script src="/website/js/main.js"></script>
		{% endblock %}
	</body>
</html>
