{% extends 'base.html.twig' %}

{% block main %}
<div class="container">
    <div class="columns">
        <div class="column is-8">
            {% if cmfMainContent is defined %}
            <div class="has-text-centered">
                <h2 class="has-text-weight-light">{{ cmfMainContent.title }}</h2>
            </div>
            {% endif %}
            {% block content %}

            {% endblock %}
        </div>
        <div class="column is-4">
            {% include 'includes/sidebar.html.twig.html' %}
        </div>
    </div>
</div>
{% endblock %}
