{% extends 'base.html.twig' %}

{% block main %}
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-12">
					<div class="section-title bg">
						<h2>
							<span>{{ content.title }}</span>
						</h2>
						<h2>Showing
							{{ hits|length }}
							results for "{{ query }}"</h2>

						<ul>
							{% for i, hit in hits %}
								<li>
									<a href="{{ hit.document.url }}">
										{{- hit.document.title -}}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
