{% extends 'base.html.twig' %}

{% block main %}
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-12">
					<div class="section-title bg">
						<h2>
							<span>ERROR</span>
						</h2>
						<p>{{ exception.message }}</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
