{% extends 'normal-page.html.twig' %}

{% block content %}
    <div class="article-page">
        {% if cmfMainContent.body %}
            <div class="columns">
                <div class="column is-12">
                    <div class="card is-shady">
                    </div>
                    <div class="card-content">
                        <div class="content">
                            {{ cmfMainContent.body|raw }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if cmfMainContent.additionalInfoBlock %}
            {{ sonata_block_render({ 'name': 'additionalInfoBlock' }) }}
        {% endif %}
    </div>
{% endblock %}
