<div class="column is-{{ block.tileLength }} {{ block.tileClass }} card-only-content">
    <div class="card">
        <div class="card-content">
            <div class="content">
                {{ block.body|raw }}
            </div>
        </div>
    </div>
</div>
