<div class="column is-{{ block.tileLength }}">
    <div class="card is-shady">
        <div class="card-image has-text-centered">
            <i class="fa fa-{{ block.iconClass }}"></i>
        </div>
        <div class="card-content">
            <div class="content">
                {% if block.title %}
                <h3>{{ block.title }}</h3>
                {% endif %}
                <p>{{ block.body|raw }}</p>
            </div>
        </div>
    </div>
</div>
