<div class="column is-{{ block.tileLength }} bg-beige-light">
    <div class="card is-shady">
        <div class="card-content">
            <div class="content">
                <p>{{ block.body|raw }}</p>
            </div>
        </div>
    </div>
</div>
