@import "../variables";
#blog-overview {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
}

#blog-overview-contain {
  width: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  transition-property: margin-left;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.blog-article-box {
  width: 320px;
  min-width: 320px;
  max-width: calc(100% * 0.6);
  height: 100%;
  background-color: $light-beige;
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.blog-article-box:not(:first-child) {
  margin-left: 10px;
}

.blog-article-box-header {
  width: 100%;
  text-align: center;
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $light-gray;
  box-sizing: border-box;
}

.blog-article-box-title {
  font-weight: 800;
  font-family: Jost Semi, Lato, Cantarell, sans-serif;
  text-transform: uppercase;
}

.blog-article-box-author::before {
  content: "by";
  margin: 0 6px 0 0;
}

.blog-article-box-date {
  color: $grey;
}

.blog-article-box-body {
  width: 100%;
}

.blog-article-box-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $light-gray;
}


#later-articles-button,
#earlier-articles-button {
  height: 40px;
  color: $dark-green;
  background-color: $light-beige;
  padding: 0 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.6);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition-delay: 0.6s;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

#later-articles-button-gradient {
  width: 100px;
  height: 100%;
  background-image: linear-gradient(to right, $light-gray 0%, transparent 100%);
  position: absolute;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition-property: width, opacity;
  transition-delay: 0.6s;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

#later-articles-button {
  transition-property: margin-left;
}

#earlier-articles-button-gradient {
  width: 100px;
  height: 100%;
  background-image: linear-gradient(to right, transparent 0%, $light-gray 100%);
  position: absolute;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  transition-property: width, opacity;
  transition-delay: 0.6s;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

#earlier-articles-button {
  transition-property: margin-right;
}

#later-articles-button:hover,
#earlier-articles-button:hover {
  background-color: $light-green;
}


#blog-article-expand-area.inactive {
  height: 0;
  padding: 0 16px;
  margin-top: 0;
  opacity: 0;
}

#blog-article-expand-area {
  width: 100%;
  background-color: $light-beige;
  border-radius: 5px;
  margin-top: 10px;
  opacity: 1;
  box-sizing: border-box;
  transition-property: height, padding, margin-top, opacity;
  transition-delay: 0s, 0s, 0s, 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

#blog-article-expand-header {
  width: 100%;
  padding: 10px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid $light-gray;
  box-sizing: border-box;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

#blog-article-expand-title {
  font-weight: 800;
  font-family: Jost Semi, Lato, Cantarell, sans-serif;
  text-transform: uppercase;
}

#blog-article-expand-author {
  margin-left: 10px;
}

#blog-article-expand-author::before {
  content: "by";
  margin-right: 6px;
}

#blog-article-expand-date {
  color: $grey;
  margin-left: 10px;
  display: flex;
  flex-direction: center;
}

#blog-article-expand-date::before {
  content: "";
  border-left: 1px solid $light-gray;
  margin-right: 10px;
}

#blog-article-expand-body {
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
