{% set collg = collg|default(block.collg|default(4)) %}
{% set colmd = colmd|default(block.colmd|default(6)) %}
{% set col = col|default(block.col|default(12)) %}
{% set space = space|default(block.space|default(0)) %}
<div class="col-lg-{{ collg }} col-md-{{ colmd }} col-{{ col }} mb-{{ space }}">
	<!-- Single Course -->
	<div class="single-course">
		<!-- Course Head -->
		<div class="course-head overlay">
			{% set teaserImage = sulu_resolve_media(block.mediaId, app.request.locale) %}
			{% if teaserImage %}
				<img src="{{ teaserImage.formats['300x'] }}" alt="{{ teaserImage.title }}">
			{% endif %}
			<a href="{{ sulu_content_path(block.url) }}" class="btn white primary">{{ 'read on' | trans }}</a>
		</div>
		<!-- Course Body -->
		<div class="course-body">
			<h4 class="c-title">
				<a href="{{ sulu_content_path(block.url) }}">{{ block.moreText }}</a>
			</h4>
			<p>{{ block.description|raw }}</p>
		</div>
	</div>
	<!--/ End Single Course -->
</div>
