{% set collg = collg|default(block.collg|default(12)) %}
{% set colmd = colmd|default(block.colmd|default(12)) %}
{% set col = col|default(block.col|default(12)) %}
{% set space = space|default(block.space|default(4)) %}
<div class="col-lg-{{ collg }} col-md-{{ colmd }} col-{{ col }} mb-{{ space }}">
	<div class="card">
		{% if block.title %}
			{% set title = title|default(block.title|default()) %}
			{% set url = url|default(block.url|default()) %}
			<div class="card-header">
				{% include 'includes/blocks/inner/title_block.html.twig' with {text: title, url: url} %}
			</div>
		{% endif %}
		{% if block.image %}
			{% set imageUrl = imageUrl|default(block.url|default()) %}
			{% set imageTitle = imageTitle|default(block.title|default()) %}
			{% set imageSrc = imageSrc|default(block.image.thumbnails['800x400']|default()) %}
			{% include 'includes/blocks/inner/title_block.html.twig' with {imageUrl: imageUrl, imageSrc: imageSrc, imageTitle: imageTitle, class: 'card-imag-top'} %}
		{% endif %}
		{% if block.source %}
			<div class="card-footer">
				<p>
					<small>{% trans %}Source{% endtrans %}:
						<a href="{{ block.source }}" target="_blank">{{ block.source }}</a>
					</small>
				</p>
			</div>
		{% endif %}
	</div>
</div>
