{% set collg = collg|default(block.collg|default(12)) %}
{% set colmd = colmd|default(block.colmd|default(12)) %}
{% set col = col|default(block.col|default(12)) %}
{% set space = space|default(block.space|default(4)) %}
<div class="col-lg-{{ collg }} col-md-{{ colmd }} col-{{ col }} mb-{{ space }}">
	<div class="card">
		{% if block.title %}
			{% set header = header|default(block.title|default()) %}
			{% set headerUrl = headerUrl|default(block.url|default()) %}
			<div class="card-header">
				{% include 'includes/blocks/inner/text_block.html.twig' with {text: header, url: headerUrl} %}
			</div>
		{% endif %}
		<div class="card-body">
			<div class="card-text">
				<blockquote cite="{{ block.source }}" class="card-text">
					{{ block.body }}
				</blockquote>
			</div>
		</div>
		<div class="card-footer">
			<p>
				<small>{% trans %}Source{% endtrans %}:
					<a href="{{ block.source }}" target="_blank">{{ block.source }}</a>
				</small>
			</p>
		</div>
	</div>
</div>
