{% set collg = collg|default(block.collg|default(12)) %}
{% set colmd = colmd|default(block.colmd|default(12)) %}
{% set col = col|default(block.col|default(12)) %}
{% set space = space|default(block.space|default(4)) %}
<div class="col-lg-{{ collg }} col-md-{{ colmd }} col-{{ col }} mb-{{ space }}">
	<div class="card">
		{% if block.image is defined and block.image %}
			{% set imageUrl = imageUrl|default(block.url|default()) %}
			{% set imageTitle = imageTitle|default(block.title|default()) %}
			{% set imageSrc = imageSrc|default(block.image.thumbnails['800x400']|default()) %}
			{% include 'includes/blocks/inner/image_block.html.twig' with {imageUrl: imageUrl, imageSrc: imageSrc, imageTitle: imageTitle, class: 'card-imag-top'} %}
		{% endif %}
		{% if block.header is defined and block.header %}
			{% set header = header|default(block.header|default()) %}
			{% set headerUrl = headerUrl|default(block.url|default()) %}
			<div class="card-header">
				{% include 'includes/blocks/inner/text_block.html.twig' with {text: header, url: headerUrl} %}
			</div>
		{% endif %}
		<div class="card-body">
			{% if block.title is defined and block.title %}
				{% set title = title|default(block.title|default()) %}
				{% set url = url|default(block.url|default()) %}
				{% include 'includes/blocks/inner/title_block.html.twig' with {text: title, url: url, class: 'card-title'} %}
			{% endif %}
			{% if block.body is defined and block.body %}
				<div class="card-text">
					{% include 'includes/blocks/inner/text_block.html.twig' with {text: block.body} %}
				</div>
			{% endif %}
		</div>
		{% if block.footer is defined and block.footer %}
			<div class="card-footer">
				{% include 'includes/blocks/inner/text_block.html.twig' with {text: header} %}
			</div>
		{% endif %}
	</div>
</div>
