<!-- Single Faq -->
<div class="panel panel-default">
	<div class="faq-heading" id="FaqTitle{{ number }}">
		<h4 class="faq-title">
			<a class="collapsed" data-toggle="collapse" href="#faq{{ number }}" role="button" aria-expanded="false" aria-controls="faq{{ number }}">
				<i class="fa fa-question"></i>
				{{ block.title }}
			</a>
		</h4>
	</div>
	<div id="faq{{ number }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="FaqTitle{{ number }}">
		<div class="faq-body">
			{{ block.text|raw }}
			{% if block.url is defined and block.url is not empty %}
				<p>
					<a href="{{ block.url }}" class="btn white primary">{% trans %}Read on{% endtrans %}</a>
				</p>
			{% endif %}
		</div>
	</div>
</div>
<!--/ End Single Faq -->
