{% set collg = collg|default(block.collg|default(12)) %}
{% set colmd = colmd|default(block.colmd|default(12)) %}
{% set col = col|default(block.col|default(12)) %}
{% set space = space|default(block.space|default(4)) %}
<div class="col-lg-{{ collg }} col-md-{{ colmd }} col-{{ col }} mb-{{ space }}">
	{% if block.image %}
		{% set imageUrl = imageUrl|default(block.url|default()) %}
		{% set imageTitle = imageTitle|default(block.title|default()) %}
		{% set imageSrc = imageSrc|default(block.image.thumbnails['800x400']|default()) %}
		{% include 'includes/blocks/inner/image_block.html.twig' with {imageUrl: imageUrl, imageSrc: imageSrc, imageTitle: imageTitle} %}
	{% endif %}
</div>
