<div class="col-lg-3 col-md-6 col-12">
	{% if block.url %}
		<a href="{{ block.url }}" title="{{ block.title }}">
	{% endif %}
	<div class="single-feature">
		<div class="icon-img">
			{% if block.image %}
				<img src="{{ block.image.thumbnails['300x300-inset'] }}" alt="{{ block.title }}">
			{% endif %}
			{% if block.icon is defined and block.icon %}
				<i class="fa fa-{{ block.icon }}"></i>
			{% else %}
				<i class="fa fa-clone"></i>
			{% endif %}
		</div>
		<div class="feature-content">
			<h4 class="f-title">{{ block.title }}</h4>
			<p>{{ block.text|raw }}</p>
		</div>
	</div>
	{% if block.url %}
		</a>
	{% endif %}
</div>
