{% set collg = collg|default(block.collg|default(4)) %}
{% set colmd = colmd|default(block.colmd|default(6)) %}
{% set col = col|default(block.col|default(12)) %}
{% set space = space|default(block.space|default(4)) %}
<div class="col-lg-{{ collg }} col-md-{{ colmd }} col-{{ col }} mb-{{ space }}">
	<div class="card">
		<div class="card-header">
			{% set title = block.publicationDate ~ ': ' ~ block.title %}
			{% set url = url|default(block.url|default()) %}
			{% include 'includes/blocks/inner/text_block.html.twig' with {text: title, url: url} %}
		</div>
		<div class="card-body">
			<div class="card-text">
				<div class="col-4">
				{% if block.download %}
					{% set url = sulu_get_media_url(block.download, 'inline') %}
					Download:
					<a href="{{ url }}" title="Download: {{ block.title }}">PDF</a>
				{% endif %}
				</div>
				<div class="col-4">
				{% if block.description is defined and block.description %}
					{{ block.description|raw }}
				{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
