{% set collg = collg|default(block.collg|default(4)) %}
{% set colmd = colmd|default(block.colmd|default(6)) %}
{% set col = col|default(block.col|default(12)) %}
{% set space = space|default(block.space|default(4)) %}
<div class="col-lg-{{ collg }} col-md-{{ colmd }} col-{{ col }} mb-{{ space }}">
	<div class="card">
        {% if title %}
            {% set title = title|default(title|default()) %}
            {% set url = url|default(block.url|default()) %}
            <div class="card-header">
                {% include 'includes/blocks/inner/text_block.html.twig' with {text: title, url: url} %}
            </div>
        {% endif %}
		<div class="card-body">
			<p class="card-text">{{ description }}</p>
			<p class="card-text">
			{% for tag in tags %}
				<span class="tag">{{ tag }}</span>&nbsp;
			{% endfor %}
			</p>
		</div>
		<div class="card-footer">
			<a href="{{ link|raw }}" class="card-footer-item">read on</a>
		</div>
	</div>
</div>
