{% set collg = collg|default(block.collg|default(12)) %}
{% set colmd = colmd|default(block.colmd|default(12)) %}
{% set col = col|default(block.col|default(12)) %}
{% set space = space|default(block.space|default(4)) %}
<div class="col-lg-{{ collg }} col-md-{{ colmd }} col-{{ col }} mb-{{ space }}">
	{% if block.title is defined and block.title is not empty %}
		{% set title = title|default(block.title|default()) %}
		{% set url = url|default(block.url|default()) %}
		{% include 'includes/blocks/inner/title_block.html.twig' with {text: title, url: url} %}
	{% endif %}
	<span class="body">
		{% include 'includes/blocks/inner/text_block.html.twig' with {text: block.body} %}
	</span>
</div>
