{% set collg = collg|default(block.collg|default(4)) %}
{% set colmd = colmd|default(block.colmd|default(6)) %}
{% set col = col|default(block.col|default(12)) %}
{% set space = space|default(block.space|default(4)) %}
<div class="col-lg-{{ collg }} col-md-{{ colmd }} col-{{ col }} mb-{{ space }}">
	<div class="card">
		<div class="card-header">
			{% set title = block.eventDate ~ ' | ' ~ block.location %}
			{% set url = url|default(block.url|default()) %}
			{% include 'includes/blocks/inner/text_block.html.twig' with {text: title, url: url} %}
		</div>
		<div class="card-body">
			{% set title = title|default(block.title|default()) %}
			{% set url = url|default(block.url|default()) %}
			{% include 'includes/blocks/inner/title_block.html.twig' with {text: title, url: url, class: "card-title"} %}
		</div>
	</div>
</div>
