{% set collg = collg|default(block.collg|default(4)) %}
{% set colmd = colmd|default(block.colmd|default(6)) %}
{% set col = col|default(block.col|default(12)) %}
{% set space = space|default(block.space|default(4)) %}
<div class="col-lg-{{ collg }} col-md-{{ colmd }} col-{{ col }} mb-{{ space }}">
	<div class="card">
		<div class="card-header">{{ writer.title}}</div>
		<div class="card-body">
			<div class="card-text">
				{{ writer.description|raw }}
			</div>
		</div>
		<div class="card-footer"></div>
	</div>
</div>
